@charset "utf-8";

div {
	display: block;
}

body {
	font-size: 1.4rem;
	line-height: 1.7rem;
	font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
	font-weight: 500;
	letter-spacing: -0.4px;
	color: #101010;
	letter-spacing: -.4px;
	padding: 0;
	margin: 0;
}

html {
	font-size: 10.5px;
	line-height: 10.5px;
}
#wrap{
	min-width: 1340px;
}
/* 헤더 */
#header {
	width: 1280px;
	margin: 0 auto;
	/* 삭제할속성 */

}

#header .header_inner {
	position: relative;
	padding: 64px 0 42px;
	height: 156px;
	z-index: 120;
}

/* 햄버거버튼 */
#header .box_ham {
	position: absolute;
	top: 18px;
	left: -10px;
}

#header .box_ham .btn_ham {
	padding: 10px;
	cursor: pointer;
	border: 0; outline: 0;
	background-color: transparent;
}

#header .box_ham .btn_ham::after {
	content: '';
	display: block;
	background-image: url(../img/naver_icon.png);
	background-size: 422px 405px;
	background-position: -335px -284px;
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	position: relative;
}
#header .box_ham .btn_ham:hover::before{
	content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 44px;
  height: 44px;
  background-color: #f5f7f8;
  border-radius: 50%;
}
/* 서치바 */
#header .header_inner .box_search {
	position: absolute;
	width: 706px;
	background-color: #fff;
	border-radius: 33px;
	border: 1px solid #03c75a;
	top: 64px;
	left: 50%;
	transform: translateX(-50%);
	height: 60px;
}
#header .header_inner .box_search:hover{
box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}
#header .header_inner .box_search .box_logo{
	position: absolute;
  top: 0;
  left: 0;
}
#header .header_inner .box_search .box_logo .link_logo{
	position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 0 10px;
}
#header .header_inner .box_search .box_logo .link_logo .img_logo{
	vertical-align: top;
	}

#header .header_inner .box_search .box_btns{
	float: right;
}
/* 컨테이너 */
#container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	padding-bottom: 60px;

	/* 삭제할속성 */
	background-color: blue;
	height: 1925px;
}

/* 푸터 */
#footer {
	border-top: 1px solid #ebebeb;
	background-color: #f5f6f7;

	/* 삭제할속성 */
	height: 460px;
}
#footer .footer_inner{
	position: relative;
	width: 1280px;
	margin: 0 auto;
	padding-bottom: 60px;
}